@mixin flex($jc,$ai,$gp){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $gp;
}

@mixin Roboto($cl,$fs,$fw){
    font-family: $font;
    color: $cl;
    font-size: $fs;
    font-weight: $fw;
}