@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  list-style-type: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
}

.nav {
  background-color: #efefef;
}
.nav .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nav .menu-item {
  padding: 17px 10px;
  color: #333;
}

.nav2 {
  background-color: #fff;
  border-top: 1px solid #c4c4c4;
}
.nav2 .menu2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nav2 .menu2-item {
  padding: 30px 15px;
}

.btn {
  border: 2px solid;
  border-radius: 40px;
  padding: 8px 50px;
  text-align: center;
}

.callback {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  padding: 20px 0;
}
.callback .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.callback .logo-text {
  font-family: "Roboto", sans-serif;
  color: #F13C6E;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.cta a {
  font-size: 16px;
}
.cta__btn {
  border-color: #F13C6E;
  background-color: #fff;
}

.sale {
  background-image: url(../images/Rectangle\ 2.jpg);
  height: 604px;
  background-repeat: no-repeat;
  background-size: cover;
}
.sale .sale__info {
  display: flex;
  justify-content: none;
  align-items: start;
  gap: 30px;
  flex-direction: column;
  padding: 183px 0;
  padding-left: 405px;
}
.sale .sale__info .sale__title {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 48px;
  font-weight: 700;
}
.sale .sale__info .sale__subtitle {
  color: #fff;
  line-height: 25px;
}
.sale .sale__info__btn {
  border-color: #fff;
  color: #fff;
  padding: 12px 70px;
}

.special {
  background-color: #efefef;
  padding: 80px 0;
  width: 100%;
}
.special .container {
  padding: 0 15px;
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 0;
  flex-direction: column;
}
.special .container .goods {
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 0;
  flex-direction: column;
  width: 100%;
}
.special .container .goods .title {
  font-family: "Roboto", sans-serif;
  color: none;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 38px;
  align-self: center;
  width: 62%;
}
.special .container .goods .goods-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 90%;
}
.special .container .goods .goods-list .item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  padding: 25px;
  background-color: #fff;
}
.special .container .goods .goods-list .item-img {
  width: 125px;
}
.special .container .goods .goods-list .item-name {
  color: #333;
  line-height: 140%;
  text-align: center;
  width: 80%;
}
.special .container .goods .goods-list .item-price {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 21px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1.05px;
}
.special .container .goods .goods-list .item-btn {
  border-radius: 30px;
  border-color: #F13C6E;
  background-color: #F13C6E;
  color: #fff;
  letter-spacing: 0.7px;
  padding: 9px 53px;
}
.special .container .promo {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 45px;
  width: 90%;
  margin: 100px 0;
}
.special .container .promo .card {
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 30px;
  background-color: #F13C6E;
  padding: 25px 30px;
}
.special .container .promo .card .img {
  max-width: 189px;
}
.special .container .promo .card .content {
  display: flex;
  justify-content: none;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
}
.special .container .promo .card .content-name {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.special .container .promo .card .content-text {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: none;
  font-weight: 400;
  width: 60%;
  line-height: 155%;
}
.special .container .promo .card .content-promo__input {
  width: 225px;
  padding: 9px 0 9px 25px;
  background-color: #fff;
  border-radius: 30px;
}
.special .container .promo .card .content-promo__input::-moz-placeholder {
  color: #c4c4c4;
}
.special .container .promo .card .content-promo__input::placeholder {
  color: #c4c4c4;
}
.special .container .promo .card .content-promo__btn {
  color: #fff;
  border-color: #fff;
  border-radius: 30px;
  padding: 9px 53px;
}
.special .container .brands {
  padding-bottom: 80px;
  max-width: 100%;
}
.special .container .brands .line {
  display: flex;
  flex-direction: row;
}
.special .container .brands .line-cell {
  padding: 35px 57px;
  background-color: #fff;
  border: 1px solid #efefef;
}

.footer .title {
  display: flex;
  justify-content: space-evenly;
  align-items: none;
  gap: 30px;
  padding-top: 40px;
}
.footer .title-item {
  font-family: "Roboto", sans-serif;
  color: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 170%;
  padding: 20px 50px 20px 0;
  border-bottom: 1px solid #efefef;
}
.footer .footer__nav {
  display: flex;
  justify-content: space-evenly;
  align-items: none;
  gap: 30px;
  padding: 60px 0;
  border-bottom: 1px solid #efefef;
}
.footer .footer__nav .footer__menu-item {
  color: #828282;
  padding: 10px 50px 10px 0;
}
.footer .footer__callback {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  padding: 37px 0;
}
.footer .footer__callback .social__media {
  display: flex;
  justify-content: none;
  align-items: none;
  gap: 20px;
}
.footer .footer__rights {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  background-color: #efefef;
  padding: 25px 0;
}
.footer .footer__rights-text {
  color: #828282;
}/*# sourceMappingURL=style.css.map */